.img_article {
    z-index: 1;
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: relative;
}

.prix_article,
.duree_article,
.titre_article,
.logo_article,
.favori_article {
    z-index: 2;
    position: relative;
    margin: 0;
    color: white;
}

.favori_article {
    height: 50px;
    width: 50px;
}

.titre_article {
    text-align: center;
}

.ventes {
    position: absolute;
    top: 20px;
    bottom: 20px;
    left: 20px;
    right: 20px;
}

.logo_article {
    height: 50px;
    width: 50px;
}

.prix_article,
.duree_article {
    height: 33px;
}

.vente_article {
    width: 470px;
    height: 265px;
    display: flex;
    flex-direction: column;
}