div.head {
    position: relative;
    padding-bottom: 40px;

    img.terril {
        width: 100%;
        height: 100%;
    }

    p.head_texte {
        position: absolute;
        color: white;
        font-size: 3em;
        top: 50%;
        left: 50%;
        transform: translateX(-50%);
    }
}

h1.aventure {
    text-align: center;
    font-size: 4em;
    margin: 3% 20%;

    span.aventure_span {
        color: #007C74;
    }
}

h2.aventure_desc {
    text-align: center;
    font-size: 1.3em;
    margin: 0 30%;
    padding-bottom: 30px;
}

section.temoignages_avis {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 35px;
    margin: 0 20%;

    div.temoin {
        transition: height 0.5s, background-color 0.5s, transform 0.5s;
        position: relative;

        a.lien_temoin {
            width: 100%;
            height: 100%;

            img.image_temoignages {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }

            p.titre_temoignages {
                position: absolute;
                bottom: 0;
                left: 5%;
                color: white;
                font-size: 1.5em;
                font-weight: bold;
            }
        }
    }

    div.temoin:hover {
        transform: scale(1.1);

        a.lien_temoin {
            transform: translateY(-60px);
            transition: 0.5s;
        }
    }
}

div.temoin:nth-child(1) {
    grid-column: 1 / 4;
}

div.temoin:nth-child(3) {
    grid-row: 2;
    grid-column: 2 / 4;
}

@media screen and (max-width:1040px) {
    div.head {
        p.head_texte {
            top: 35%;
        }
    }
    section.temoignages_avis {
        div.temoin {
            a.lien_temoin {
                p.titre_temoignages {
                    font-size: 1.1em;
                }
            }
        }
    }
}

@media screen and (max-width:800px) {
    div.head {
        p.head_texte {
            top: 30%;
        }
    }
    section.temoignages_avis {
        div.temoin {
            a.lien_temoin {
                p.titre_temoignages {
                    font-size: 0.85em;
                }
            }
        }
    }
}