.bas {
    display: flex;
    flex-direction: column;

    footer {
        display: grid;
        grid-template-columns: 1FR 1FR 1FR;
        background: url("https://www.lavelodyssee.com/themes/fvt/images/qui-sommes-nous.jpg") no-repeat center center;
        background-size: cover;

        li {
            list-style-type: none;
        }


        h3 {
            a {
                text-decoration: none;
                color: inherit;
                font-weight: bold;
                font-size: 1.3rem;
            }
        }

        .part1 {
            grid-column: 1/3;
            padding-left: 30px;

            h3 {
                font-size: 1.3rem;
            }

            p {
                font-size: 1.2rem;
            }

            .logo_footer2 {
                height: 13mm;
                background: linear-gradient(45deg, rgb(0, 36, 107), rgba(0, 51, 153, 0.761));
                width: 150px;
            }
        }

        .liste_lien {
            grid-column: 3/5;
            display: flex;
            gap: 10px;
            flex-direction: column;
            justify-content: flex-end;
            align-items: center;

            .btn1 {
                background: white;
                color: #007c74;
                display: flex;
                text-decoration: none;
                width: 180px;
                height: 40px;
                justify-content: center;
                align-items: center;
                box-shadow: 3px 3px 3px black;
                border-radius: 50px;
            }

            .btn1:hover {
                transform: scale(0.9);
            }

            .btn2 {
                display: flex;
                background: #007c74;
                color: white;
                text-decoration: none;
                width: 180px;
                height: 40px;
                justify-content: center;
                align-items: center;
                box-shadow: 3px 3px 3px black;
                border-radius: 50px;
            }

            .btn2:hover {
                transform: scale(0.9);
            }


            a {
                color: inherit;
                font-family: 'arial';
                font-weight: bold;
                text-decoration: none;
            }


        }



        .liste1 {
            grid-column: 1;




        }



        .liste2 {
            grid-column: 2;


            li {
                a {
                    text-decoration: none;
                    color: inherit;
                }

            }


        }

        .liste3 {


            li {
                a {
                    text-decoration: none;
                    color: inherit;
                }

            }


        }




        .part3 {
            grid-column: 1/3;
            padding-left: 30px;

            h3 {
                font-size: 1.3rem;
            }

            p {
                font-size: 1.2rem;
            }
        }

        .liste_lien2 {
            grid-column: 3/5;
            display: flex;
            flex-direction: column;
            gap: 10px;
            align-items: center;

            .btn3 {
                display: flex;
                background: white;
                color: black;
                text-decoration: none;
                width: 180px;
                height: 40px;
                justify-content: center;
                align-items: center;
                border: solid;
                box-shadow: 3px 3px 3px black;
                border-radius: 50px;
            }

            .btn3:hover {
                transform: scale(0.9);
            }

            .btn4 {
                display: flex;
                background: black;
                color: white;
                text-decoration: none;
                width: 210px;
                height: 46px;
                justify-content: center;
                align-items: center;
                box-shadow: 3px 3px 3px black;
                border-radius: 50px;
            }

            .btn4:hover {
                transform: scale(0.9);
            }


            a {
                color: inherit;
                font-family: 'arial';
                font-weight: bold;
                text-decoration: none;
            }
        }

    }
}














@media screen and (max-width: 800px) {

    .bas {
        footer {
            .liste_lien {
                .btn1 {
                    width: 100px;
                    font-size: 12px;

                    a {
                        text-align: center;
                    }
                }


                .btn2 {
                    width: 100px;
                    font-size: 12px;

                    a {
                        text-align: center;
                    }
                }
            }

            .liste_lien2 {
                .btn3 {
                    width: 100px;
                    font-size: 12px;

                    a {
                        text-align: center;
                    }
                }

                .btn4 {
                    width: 100px;
                    font-size: 12px;

                    a {
                        text-align: center;
                    }
                }
            }
        }
    }
}