footer {
    display: flex;
    justify-content: center;
    background: url("https://www.lavelodyssee.com/themes/fvt/images/qui-sommes-nous.jpg") no-repeat center center;
    background-size: cover;

    .logo_footer2 {
        height: 13mm;
        background: linear-gradient(45deg, rgb(0, 36, 107), rgba(0, 51, 153, 0.761));
        width: 150px;
    }

    .text{
        display: flex;
        flex-direction: column;
        max-width: 800px;
    }

    .liste_lien {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 20px;
        

        .btn1 {
            background: white;
            color: #007c74;
            display: flex;
            text-decoration: none;
            width: 180px;
            height: 40px;
            justify-content: center;
            align-items: center;
            box-shadow: 3px 3px 3px black;
            border-radius: 50px;
        }

        .btn1:hover {
            transform: scale(0.9);
        }

        .btn2 {
            display: flex;
            background: #007c74;
            color: white;
            text-decoration: none;
            width: 180px;
            height: 40px;
            justify-content: center;
            align-items: center;
            box-shadow: 3px 3px 3px black;
            border-radius: 50px;
        }

        .btn2:hover {
            transform: scale(0.9);
        }


        a {
            color: inherit;
            font-family: 'arial';
            font-weight: bold;
            text-decoration: none;
        }


    }
}















@media screen and (max-width: 800px) {

    
        footer {
            .liste_lien {
                .btn1 {
                    width: 135px;
                    height: 30px;
                    font-size: 12px;

                    a {
                        text-align: center;
                    }
                }


                .btn2 {
                    width: 135px;
                    height: 30px;
                    font-size: 12px;

                    a {
                        text-align: center;
                    }
                }
            }
        }
}