.boite {
    display: flex;
    justify-content: center;
    align-items: center;

    .grille {
        display: grid;
        grid-template-columns: 1fr 1fr;
        box-sizing: border-box;
        gap: 35px;
        width: 900px;

        article:hover {
            transform: scale(1.1);
        
            a {
                transform: translateY(-60px);
                transition: 0.5s;
            }
        }

        article {
            display: block;
            position: relative;
            cursor: pointer;
            transition: height 0.5s, background-color 0.5s, transform 0.5s;

            a {
                position: absolute;
                color: white;
                text-decoration: none;
                font-size: 1.5rem;
                font-weight: bold;
                bottom: 100px;
                left: 10%;
                right: 10%;
                text-align: center;
                background-color: rgba(0, 0, 0, 0.5);
                
            }

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                border-radius: 15px;
            }
        }
    }
}


@media screen and (max-width:800px){
   .boite{
       display: flex;
       flex-direction: column;

       .grille{
           display: grid;
           grid-template-columns: 1fr;
           width: 400px;
       }
   }
}
