.boite {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 20px;

    .grille {
        display: grid;
        grid-template-columns: 1fr 1fr;
        box-sizing: border-box;
        gap: 35px;
        width: 900px;

        article:hover {
            transform: scale(1.1);

            a {
                transform: translateY(-60px);
                transition: 0.5s;
            }
        }

        article {
            display: block;
            position: relative;
            cursor: pointer;
            transition: height 0.5s, background-color 0.5s, transform 0.5s;

            a {
                position: absolute;
                color: white;
                text-decoration: none;
                font-size: 1.5rem;
                font-weight: bold;
                bottom: 100px;
                left: 10%;
                right: 10%;
                text-align: center;
                background-color: rgba(0, 0, 0, 0.5);

            }

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                border-radius: 15px;
            }
        }
    }
}


@media screen and (max-width:800px) {
    .boite {
        display: flex;
        flex-direction: column;

        .grille {
            display: grid;
            grid-template-columns: 1fr;
            width: 400px;
        }
    }
}

// Grille avis

.avis {
    display: grid;
    justify-content: center;
    align-content: center;
    grid-template-columns: repeat(3, 1fr);
    gap: 35px;


    .Avis_article {
        width: 100%;
        height: 500px;
        // border: 5px solid rgb(229, 185, 213);
        background-color: rgba(229, 185, 213, 0.26);
        padding: 1%;
        border-radius: 5%;


        .netoi {
            display: flex;
            justify-content: flex-start;
            align-items: center;
            position: relative;
            top: 50px;

        }

        .etoile_avis {
            width: 66px;
            height: 50px;
            padding: 0 0 0 20px;

        }

        .nom_avis {

            font-size: 25px;
        }

        .note {
            display: flex;
            justify-content: center;
            align-items: center;
            position: relative;
            top: 40px;
        }

        .securite_avis,
        .balisage_avis,
        .interet_avis,
        .service_avis {
            padding: 0 20px 0;
            display: flex;
            align-items: center;
            justify-content: cente;

        }

        .bas {
            position: relative;
            display: flex;
            justify-content: space-around;
            align-items: center;
            top: 120px;
        }

        .date_avis {
            position: relative;
            bottom: 350px;
        }

        .lieux_avis {
            position: relative;
            font-size: 16px;
            width: 50%;
            bottom: 190px;
            text-align: left;
            background-color: #c4669d;

        }

        .titre_avis {
            padding: 0 0 20px 0;

        }

        .licorne {
            display: flex;
            flex-direction: column;
            justify-content: center;
            position: relative;
            top: 40px;

        }
    }
}

@media screen and (max-width:800px) {

    .avis {
        display: grid;
        justify-content: center;
        align-content: center;
        grid-template-columns:  1fr 1fr;
        gap: 17px;

    }
}

@media screen and (max-width:400px) {

    .avis {
        display: grid;
        justify-content: center;
        align-content: center;
        grid-template-columns: 1fr;
        gap: 17px;

    }
}