.boite {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 20px;

    .grille {
        display: grid;
        grid-template-columns: 1fr 1fr;
        box-sizing: border-box;
        gap: 35px;
        width: 900px;

        article:hover {
            transform: scale(1.1);

            a {
                transform: translateY(-60px);
                transition: 0.5s;
            }
        }

        article {
            display: block;
            position: relative;
            cursor: pointer;
            transition: height 0.5s, background-color 0.5s, transform 0.5s;

            a {
                position: absolute;
                color: white;
                text-decoration: none;
                font-size: 1.5rem;
                font-weight: bold;
                bottom: 100px;
                left: 10%;
                right: 10%;
                text-align: center;
                background-color: rgba(0, 0, 0, 0.5);

            }

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                border-radius: 15px;
            }
        }
    }
}


@media screen and (max-width:800px) {
    .boite {
        display: flex;
        flex-direction: column;
        padding-bottom: 20px;

        .grille {
            display: grid;
            grid-template-columns: 1fr;
            width: 400px;
        }
    }
}

// Grille avis
h3.avis_public_titre {
    text-align: center;
    font-size: 3em;
    margin: 3% 20%;
}
p.avis_public {
    text-align: center;
    font-size: 1.3em;
    margin: 0 30%;
}
.avis {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 35px;
    margin: 0 20%;
    padding: 30px 0;

    .Avis_article {
        width: 100%;
        height: 45vh;
        background-color: rgba(229, 185, 213, 0.26);
        padding: 1%;
        border-radius: 5%;
        position: relative;

        .netoi {
            display: flex;
            justify-content: flex-start;
            align-items: center;
            position: absolute;
            top: 20px;
        }

        .etoile_avis {
            width: 66px;
            height: 50px;
            padding: 0 0 0 20px;

        }

        .nom_avis {

            font-size: 25px;
        }
        
        .securite_avis {
            padding: 0 10px;
            position: absolute;
            top: 110px;
            width: 20%;
            text-align: center;
        }
        .balisage_avis {
            padding: 0 10px;
            position: absolute;
            top: 110px;
            width: 20%;
            left: 70px;
            text-align: center;
        }
        .interet_avis {
            padding: 0 10px;
            position: absolute;
            top: 110px;
            width: 20%;
            left: 130px;
            text-align: center;
        }
        .service_avis {
            padding: 0 10px;
            position: absolute;
            top: 110px;
            width: 20%;
            left: 190px;
            text-align: center;
        }
        .bas {
            position: absolute;
            display: flex;
            justify-content: space-around;
            align-items: center;
            top: 380px;
            width: 100%;
            a {
                color: black;
            }
        }

        .date_avis {
            position: absolute;
            top: 0;
        }

        .lieux_avis {
            position: absolute;
            font-size: 16px;
            width: 70%;
            top: 80px;
            left: 5px;
            text-align: left;
            background-color: #c4669d;
            border-radius: 5%;
            color: white;

        }

        .titre_avis {
            margin-bottom: 0;

        }

        .licorne {
            display: flex;
            flex-direction: column;
            justify-content: center;
            position: absolute;
            top: 150px;

        }
    }
}

@media screen and (max-width:800px) {

    .avis {
        grid-template-columns:  1fr 1fr;
        gap: 17px;

    }
}

@media screen and (max-width:400px) {

    .avis {
        grid-template-columns: 1fr;
        gap: 17px;

    }
}