
body{
    background-color: red;
}
.active{
    position: fixed;
    height: 80px;
    display: flex;
    background-color: white;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding-left: 60px;
    padding-right: 60px;
    box-sizing: border-box;
    .lien{
        display: flex;
        align-items: center;
    }
    .logo{
      width: 50px;
    }
    ul{
        display: flex;
        list-style-type: none;
        padding: 0;
    }
    li{
        padding-left: 50px;
    }
    a{
        
        text-decoration: none;
        color: black;
        font-family: 'arial';
        font-weight: bold;
    }
    a:hover{
        color: #00B9CA;
    }
    .recherche{
        width: 30px;
        height: 30px;
    }
    .burger{
      display: none;
    }

}



@media screen and (max-width:800px) {
  .lien{
    display: flex;
    flex-direction: row-reverse;
  }
   .liste{ 
    overflow:hidden;
    display:flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    width:0;
    height:calc(100vh - 65px);  
    position:absolute;
    top: 80px;
    left:0;     
    background:rgb(255, 253, 253);  
    gap: 20px;
    opacity: 75%; 
    }
   .show-nav .liste { 
    width:100vw;    
    }   
    .liste > a {
    display:block;
    padding:1rem;
    font-size:1.6rem;
    }
    .navbar__link > a:hover {
    padding-left:2rem;
    letter-spacing:5px;
    }
  
    .active .burger {
    margin-right: 10px;
    display:block;
    position:relative;
    padding:0;
    width:45px;
    height:45px;
    border:none;
    background:transparent;
    cursor:pointer;
    }
    .bar {
    display:block;    
    width:45px;
    height:4px;  
    border-radius:3px;
    background:black;  
    }
    .bar::before, .bar::after {
    content:"";
    width:45px;
    height:4px;
    position:absolute; 
    left:0;  
    background:black; 
    border-radius:3px;    
    }
    .bar::before {
    transform:translateY(-12px)
   }
    .bar::after {
    transform:translateY(12px)
    }
    .show-nav .bar {
    width:0;
    background:transparent;    
   }
    .show-nav .bar::before {
    transform:rotate(45deg);
    }
    .show-nav .bar::after {
    transform:rotate(-45deg);
    }
    .logo{
      margin-left: 175px;
      margin-right: 175px;
    }
  
}