                .wrapper_cacarousel {
                    position: relative;
                    height: 100%;
                }
                
                .wrapper_cacarousel {
                    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
                    font-size: 14px;
                    color: #000;
                    margin: 0;
                    padding: 0;
                }
                
                .swiper {
                    max-width: 100%;
                    max-height: 100%;
                }
                
                .swiper-slide {
                    text-align: center;
                    font-size: 18px;
                    background: #fff;
                    /* Center slide text vertically */
                    display: -webkit-box;
                    display: -ms-flexbox;
                    display: -webkit-flex;
                    display: flex;
                    -webkit-box-pack: center;
                    -ms-flex-pack: center;
                    -webkit-justify-content: center;
                    justify-content: center;
                    -webkit-box-align: center;
                    -ms-flex-align: center;
                    -webkit-align-items: center;
                    align-items: center;
                }
                
                .swiper-slide .img_article {
                    display: block;
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
                
                .favori_article {
                    height: 45px;
                    width: 45px;
                    position: absolute;
                    bottom: 0;
                    right: 0;
                }
                
                .logo_article {
                    height: 45px;
                    width: 45px;
                    position: absolute;
                    bottom: 0;
                }
                
                .titre_article {
                    position: absolute;
                    color: white;
                    text-align: center;
                    top: 70%;
                    -webkit-text-stroke: 1px black;
                }
                
                .prix_article {
                    position: absolute;
                    top: 0;
                    right: 50%;
                    background-color: rgba(255, 166, 0, 0.685);
                }
                
                .duree_article {
                    position: absolute;
                    top: 0;
                    left: 50%;
                    background-color: rgba(255, 255, 255, 0.671);
                }