.lien_news{
  display: flex;
  justify-content: center;
  article{
      display: flex;
      flex-direction: column;

      h1{
          text-align: center;
      }

      p{
          margin-right: 20%;
          margin-left: 20%;
          text-align: justify;
      }

      img{
         width: 800px;
        align-self: center;
      }
  }
}